# /workspace/tripx/MCS/big_data/visualize
/workspace/tripx/MCS/big_data/data
/workspace/tripx/MCS/big_data/models
/workspace/tripx/MCS/big_data/spark-3.1.1-bin-hadoop3.2 
/workspace/tripx/MCS/big_data/spark-3.1.1-bin-hadoop3.2.tgz
/workspace/tripx/MCS/big_data/spark-3.1.1-bin-hadoop3.2.tgz.1
/workspace/tripx/MCS/big_data/models
*parquet*
*parquet
*.crc
*.tgz*
*.csv
*.txt